



* {
  font-family: 'Patrick Hand', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
	background: linear-gradient(-45deg, #63838d, #6e8cb6, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.center{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  
}
/* .center-row{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  
} */


.particles {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

p {
  font-size: 50px;
  text-align: center;
  
}
button {
  cursor: pointer;
}

